# Ignore compiled Ren'Py files
*.rpyc
*.rpyi

# Ignore Ren'Py saves
/saves/

# Ignore temporary files
/log/
/game/.lock/

# Ignore the system's Thumbs.db (Windows) and .DS_Store (Mac)
Thumbs.db
.DS_Store
